<div class="trial-container">
    <h2>{{heroId}} Trial Title</h2>
    <mat-chip-list aria-label="Fish selection" class="mat-body-2">
        <mat-chip>
            <mat-icon>calendar_today</mat-icon>&nbsp;
            Registered: 20 January 2017
        </mat-chip>
        <mat-chip>
            <mat-icon>hourglass_empty</mat-icon>&nbsp;
            Ongoing
        </mat-chip>
        <mat-chip>
            <mat-icon>search</mat-icon>&nbsp;
            Stage 2
        </mat-chip>
    </mat-chip-list>
    <br>
    <mat-accordion displayMode="flat" multi="true">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Brief Summary
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae arcu ut lectus faucibus blandit et
                quis
                diam. Donec eu mi sed libero feugiat elementum nec vel erat. Quisque interdum, tortor vel pretium
                ornare, ex
                augue fermentum odio, at rutrum nibh nulla sit amet nunc. Nam pharetra, tellus sit amet tristique
                consequat,
                mi
                neque tincidunt dui, et sollicitudin nisi dui in lorem. Morbi pharetra lacus ut ornare vehicula. Vivamus
                vel
                nibh eget turpis commodo consequat.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Conditions
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>condition1</li>
                <li>condition2</li>
                <li>condition3</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Interventions
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>intervention1</li>
                <li>intervention2</li>
                <li>intervention3</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>